body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

.header {
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

form {
  text-align: center;
}

label, input, select {
  width: 200px;
  display: inline-block;
}